# Build artifacts
/dist/

# Virtual environments & Python cache
*.venv/
*__pycache__/

# System files
.DS_Store

# Environment configuration
*.gradio/
.env
.python-version

# Local data & playground
data/
playground/